<div class="container__menun-bar">
    <div class="logo__menu-bar">Logo</div>
    <div class="nav__menu-bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Novidades</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Mais vistos</a></li>
            <li><a href="#">Suporte</a></li>
        </ul>
    </div>
    <div class="social__menu-bar">
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twiter</li>
        </ul>
    </div>
</div>
